$link-color: #00b7ff;

.Nav {

  .container {
    .nav-icon {
      font-size: 32px;
      color: white;
      cursor: pointer;
      padding: 12px 12px 12px 0;
      border-radius: 32px;
      margin-bottom: 4px;

    }
  }

  .links {
    display: flex;
    flex-direction: column;

    link {

      &:hover {
        background: white;
        padding: 24px;
      }
    }

    i {
      font-size: 26px;
      color: #ffffff;
      padding: 12px 0px;
      display: flex;
      align-items: center;
    }

    .fa-home {
      color: #00b7ff;
    }

    a {
      color: #ffffff;
      padding: 8px 0px;
      font-size: 20px;
      text-decoration: none;
      font-weight: 800;
      margin-left: 24px;
      font-family: 'Open Sans',
        sans-serif;
    }

    .active {
      color: #00b7ff;
    }
  }

  .tweet-button {
    background: rgb(0, 183, 255);
    padding: 16px 80px;
    border: 0;
    color: white;
    border-radius: 32px;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    outline: none;

    &:hover {
      background: rgba(0, 183, 255, 0.8);
      transition: all 0.5s ease;
    }
  }
}