@import './scss/main';

@mixin stickyDiv {
    position: sticky;
    top: 12px;
    height: 100%;
}


body {
    background: #141d26;
    margin: 0;
    padding: 0;
}


.App {

    .container {
        .row {
            display: flex;
            padding: 0 22rem;

            .column {
                display: flex;
            }

            .nav {
                @include stickyDiv();
            }

            .home {
                margin-left: 5%;
            }

            .right-side {
                margin-top: 12px;
                margin-left: 2%;
                display: flex;
                flex-direction: column;
            }

        }
    }
}

@media (max-width: 1650px) {
    .App {

        .container {
            .row {
                display: flex;
                padding: 0 16rem;

                .column {
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 1440px) {

    .App {

        .container {
            .row {
                display: flex;
                padding: 0 4rem;

                .column {
                    display: flex;
                }
            }
        }
    }

}


@media (max-width: 1300px) {

    .App {

        .container {

            .row {
                display: flex;
                padding: 0 1rem;
            }
        }
    }

}


@media (max-width: 800px) {

    .App {

        .container {

            .row {
                display: flex;
                padding: 0 3rem;

                .right-side {
                    display: none;
                }
            }
        }
    }

}