body {
    background: #141d26;
    margin: 0;
    padding: 0;
}

.App {
    .container {
        .row {
            display: flex;
            padding: 0 22rem;

            .column {
                display: flex;
            }

            .nav {}

            .home {
                margin-left: 5%;
            }

            .right-side {
                margin-top: 12px;
                margin-left: 2%;
            }

        }
    }
}