body {
  font-family: "Open Sans", sans-serif;
}

.Home {
  border-left: 1px solid rgba(158, 156, 156, 0.5);
  border-right: 1px solid rgba(158, 156, 156, 0.5);
  min-width: 600px;
}

.Home .container .tweet-section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(158, 156, 156, 0.5);
  padding: 0 12px;
}

.Home .container .tweet-section .header h3 {
  color: white;
  cursor: pointer;
  font-size: 22px;
  margin: 8px 0;
}

.Home .container .tweet-section .header i {
  color: #00b7ff;
  cursor: pointer;
}

.Home .container .tweet-section .tweet-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}

.Home .container .tweet-section .tweet-input i {
  margin-right: 24px;
  background: #e6e0e0;
  padding: 18px;
  border-radius: 50%;
  color: #444242;
  font-size: 24px;
}

.Home .container .tweet-section .tweet-input input {
  background: none;
  border: none;
  height: 100px;
  font-size: 22px;
  outline: none;
  width: 100%;
  color: white;
  overflow-y: hidden;
}

.Home .container .tweet-section .social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}

.Home .container .tweet-section .social-buttons .left {
  margin-right: auto;
}

.Home .container .tweet-section .social-buttons .left i {
  margin-right: 24px;
  color: #00b7ff;
  cursor: pointer;
  font-size: 22px;
}

.Home .container .tweet-section .social-buttons .right i {
  padding: 8px;
  font-size: 20px;
  color: #00b7ff;
}

.Home .container .tweet-section .social-buttons .right i:nth-child(2) {
  border: 1px solid #00b7ff;
  border-radius: 32px;
  margin-left: 12px;
  cursor: pointer;
}

.Home .container .tweet-section .social-buttons .right i:first-child {
  border-right: 1px solid rgba(158, 156, 156, 0.5);
  color: #7c7c7c;
}

.Home .container .tweet-section .social-buttons .right .tweet-button {
  background: #00b7ff;
  margin-left: 12px;
  color: #ffffff;
  border: none;
  padding: 12px 22px;
  border-radius: 32px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.Home .container .tweet-section .social-buttons .right .tweet-button:hover {
  background: rgba(0, 183, 255, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Home .container .wrapper {
  margin-top: 24px;
  background: #1f3244;
  height: 12px;
}

.Home .container .tweets .tweet {
  border-bottom: 1px solid rgba(158, 156, 156, 0.5);
  padding: 0 12px;
  cursor: pointer;
}

.Home .container .tweets .tweet:hover {
  background: rgba(58, 97, 129, 0.4);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.Home .container .tweets .tweet .tweet-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .user-photo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: block;
  margin-right: 24px;
  margin-top: 24px;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-user-info .name {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-user-info .name:hover {
  text-decoration: underline;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .username-time {
  margin-right: auto;
  margin-left: 12px;
  color: gray;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .fa-chevron-down {
  color: gray;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .fa-chevron-down:hover {
  background: rgba(0, 140, 255, 0.2);
  color: #00b7ff;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content {
  color: #ffffff;
  margin-top: -24px;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .tweet-desc {
  max-width: 500px;
  margin-bottom: 24px;
  line-height: 1.5em;
  font-size: 14px;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .tweet-photo {
  width: 500px;
  border-radius: 12px;
  border: 1px solid rgba(158, 156, 156, 0.5);
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .social-buttons .comment,
.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .social-buttons .retweet,
.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .social-buttons .heart,
.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .social-buttons .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .social-buttons i {
  color: gray;
  border-radius: 50%;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .social-buttons .fa-comment:hover {
  background: rgba(0, 140, 255, 0.2);
  color: #00b7ff;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .social-buttons .fa-retweet:hover {
  background: rgba(0, 255, 157, 0.2);
  color: #00ff9d;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .social-buttons .fa-heart:hover {
  background: rgba(255, 0, 85, 0.2);
  color: #ff0055;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.Home .container .tweets .tweet .tweet-row .tweet-column .tweet-content .social-buttons .fa-upload:hover {
  background: rgba(0, 140, 255, 0.2);
  color: #00b7ff;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.Nav .container .nav-icon {
  font-size: 32px;
  color: white;
  cursor: pointer;
  padding: 12px 12px 12px 0;
  border-radius: 32px;
  margin-bottom: 4px;
}

.Nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Nav .links link:hover {
  background: white;
  padding: 24px;
}

.Nav .links i {
  font-size: 26px;
  color: #ffffff;
  padding: 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav .links .fa-home {
  color: #00b7ff;
}

.Nav .links a {
  color: #ffffff;
  padding: 8px 0px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 800;
  margin-left: 24px;
  font-family: 'Open Sans', sans-serif;
}

.Nav .links .active {
  color: #00b7ff;
}

.Nav .tweet-button {
  background: #00b7ff;
  padding: 16px 80px;
  border: 0;
  color: white;
  border-radius: 32px;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

.Nav .tweet-button:hover {
  background: rgba(0, 183, 255, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.Search .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #132636;
  border-radius: 24px;
  width: 300px;
  height: 50px;
  padding: 0 24px;
}

.Search .search-input .fa-search {
  color: gray;
  margin-right: 12px;
}

.Search .search-input input {
  background: 0;
  border: 0;
  outline: 0;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.Trends {
  cursor: pointer;
}

.Trends .trends-container {
  background: #132636;
  margin-top: 24px;
  border-radius: 24px;
  padding: 12px 0;
}

.Trends .trends-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  padding: 0 18px;
}

.Trends .trends-container .header h2 {
  margin: 8px 0;
}

.Trends .trends-container .header i {
  color: #00b7ff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.Trends .trends-container .header i:hover {
  background: #2d475f;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.Trends .trends-container .trendings .trend {
  padding: 0 12px;
}

.Trends .trends-container .trendings .trend:hover {
  background: rgba(58, 97, 129, 0.4);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.Trends .trends-container .trendings .trend-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Trends .trends-container .trendings .trend-info-top .trend-location {
  color: gray;
  font-size: 14px;
}

.Trends .trends-container .trendings .trend-info-top i {
  color: gray;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

.Trends .trends-container .trendings .trend-info-top i:hover {
  background: #132636;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.Trends .trends-container .trendings .trend-title {
  margin-top: -6px;
  color: #ffffff;
  font-size: 16px;
}

.Trends .trends-container .trendings .tweet-count {
  margin-top: -6px;
  color: gray;
  font-size: 14px;
}

.Trends .trends-container .show-more-btn {
  margin-left: 12px;
  margin-top: 12px;
  color: #00b7ff;
  background: none;
  border: 0;
  font-size: 15px;
}

.wrapper {
  border-bottom: 1px solid rgba(158, 156, 156, 0.5);
}

.WhoToFollow {
  margin-top: 24px;
  cursor: pointer;
}

.WhoToFollow .container {
  background: #132636;
  border-radius: 24px;
  padding: 12px 0;
}

.WhoToFollow .container .title {
  margin: 8px 0;
  color: #ffffff;
  padding: 0 18px;
}

.WhoToFollow .container .follow-suggestions {
  padding: 0 18px;
}

.WhoToFollow .container .follow-suggestions .suggestion {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.WhoToFollow .container .follow-suggestions .suggestion .img-container .person-img {
  width: 64px;
  border-radius: 50%;
}

.WhoToFollow .container .follow-suggestions .suggestion .person-info-container {
  margin-left: 12px;
  margin-right: auto;
}

.WhoToFollow .container .follow-suggestions .suggestion .person-info-container .person-name {
  margin-bottom: -12px;
  color: #ffffff;
}

.WhoToFollow .container .follow-suggestions .suggestion .person-info-container .person-username {
  color: gray;
}

.WhoToFollow .container .follow-suggestions .suggestion .follow-btn {
  background: transparent;
  color: #00b7ff;
  border-radius: 32px;
  border: 1px solid #00b7ff;
  padding: 8px 18px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

.WhoToFollow .container .follow-suggestions .suggestion .follow-btn:hover {
  background: rgba(0, 183, 255, 0.1);
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.show-more-btn {
  margin-left: 12px;
  margin-top: 12px;
  color: #00b7ff;
  background: none;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

body {
  background: #141d26;
  margin: 0;
  padding: 0;
}

.App .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 22rem;
}

.App .container .row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .container .row .nav {
  position: -webkit-sticky;
  position: sticky;
  top: 12px;
  height: 100%;
}

.App .container .row .home {
  margin-left: 5%;
}

.App .container .row .right-side {
  margin-top: 12px;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 12px;
  height: 100%;
}
/*# sourceMappingURL=App.css.map */